node_modules
.env

/src/generated/prisma

/public/assets/uploads/photos/*
!/public/assets/uploads/photos/.gitkeep

/public/assets/uploads/groups/*
!/public/assets/uploads/groups/.gitkeep

/public/assets/uploads/group_assets/*
!/public/assets/uploads/group_assets/.gitkeep

/Bruno/environments/env.yml
